@font-face {
    font-family: 'Font';
    src: url('Libre_Baskerville/LibreBaskerville-Bold.ttf');
}
.banner {
    margin:auto;
    background-color: #0f7cbf;
    color:white;
    width: 75%;
    text-align: center;
    border:3px solid white;
    border-radius: 7px;
    font-family: 'Font';
}
body {
    background-color: black;
    font-family: 'Font';
}
.speed {
    Margin:auto;
    color: white;
    background-color: #0f7cbf;
    border-radius: 7px;
    border:3px solid white;
    width: 28%;
    text-align: center;
    margin-top: 3px;
}

.altitude {
    Margin:auto;
    color: white;
    background-color: #0f7cbf;
    border-radius: 7px;
    border:3px solid white;
    width: 28%;
    text-align: center;
    margin-top: 3px;
}

.telemetry-top {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin: 20px auto 0 auto;
    width: 75%;
}
.location {
    color: white;
    background-color:#0f7cbf;
    border-radius: 7px;
    border:3px solid white;
    width: 28%;
    text-align: center;
}
.telemetry-bottom {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    margin: 0 auto;
    gap: 40px;
}
.orientation {
    color: white;
    background-color: #0f7cbf;
    border-radius: 7px;
    border:3px solid white;
    width: 28%;
    text-align: center;
    margin-top: 30px;

}

.inputs {
    color: white;
    background-color: #0f7cbf;
    border-radius: 7px;
    border:3px solid white;
    width: 67%;
    text-align: center;
    margin-top: 30px;
    margin-left: 43px;
}
.controller_inputs {
    text-align: left;
    margin-left: 20px;
}
.manualcontrol {
    color: white;
    background-color: #0f7cbf;
    margin: 20px auto;
    border-radius: 7px;
    border:3px solid white;
    text-align: center;
    width: 75%;
    height: 400px;
}
.Override{
    color: white;
    background-color: #ff0000;
    border-radius: 7px;
    border:3px ridge white;
    width: 28%;
    text-align: center;
    font-size: large;
}
.confirm {
    color: white;
    background-color: #ff0000;
    border-radius: 7px;
    border:3px ridge white;
    width: 20%;
    text-align: center;
    font-size: large;
}
.status {
    color: white;
    background-color: #ff0000;
    border-radius: 7px;
    border:3px ridge white;
    width: 28%;
    text-align: center;
    margin:auto;
    margin-top: 10px;
}

.manualinputs {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 75%;
}

.slider {
    width: 100%;
    border-radius: 5px;
}

